{% extends "tethys_apps/app_base.html" %}
{% load tethys_gizmos %}
{% load static %}

{% block title %}GEOGloWS Hydroviewer{% endblock %}

{% block header_buttons %}
{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% if 'http' in tethys_app.icon %}{{ tethys_app.icon }}{% else %}{% static tethys_app.icon %}{% endif %}"/>
{% endblock %}

{% block app_navigation_items %}
  {% url 'geoglows_hydroviewer:home' as hydroviewer %}
  {% url 'geoglows_hydroviewer:hydroshare_view' as hydroshare %}
  {% url 'geoglows_hydroviewer:project_overview' as overview %}
  {% url 'geoglows_hydroviewer:render_hydroviewer' as render %}
  {% url 'geoglows_hydroviewer:geoglows_hydroviewer_creator' as creator %}

  {% if request.user.is_authenticated %}
    <li class="nav-item title">App Features</li>
    <li class="nav-item">
      <a class="nav-link{% if request.path == hydroviewer or request.path == hydroshare %} active{% endif %}" href="{{ hydroviewer }}">Global Hydroviewer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if request.path != hydroviewer and request.path != hydroshare %} active{% endif %}" href="{{ creator }}">Hydroviewer Creator</a>
    </li>
  {% endif %}

  {% if request.path == hydroviewer or request.path == hydroshare %}
    <li class="nav-item title">Map Controls</li>
    {% if request.path == hydroviewer %}
      <label class="control-label" for="time-slider">Map Animation</label>
      <input type="range" min="0" max="40" value="0" class="slider" id="time-slider">
      <li class="nav-item" id="current-map-date" style="text-align: center"></li>
      <div style="text-align: center;">
        <button type="header-button" class="btn btn-secondary-outline" id="animationBack1"><i class="bi bi-chevron-left"></i></button>
        <button type="header-button" class="btn btn-secondary-outline" id="animationPlay"><i class="bi bi-play-fill"></i></button>
        <button type="header-button" class="btn btn-secondary-outline" id="animationStop"><i class="bi bi-stop-fill"></i></button>
        <button type="header-button" class="btn btn-secondary-outline" id="animationPlus1"><i class="bi bi-chevron-right"></i></button>
      </div>
    {% else %}
      <li>{% gizmo select_input watersheds_select_input %}</li>
    {% endif %}
    <li class="separator"></li>
    <a class="btn btn-outline-secondary" role="button" style="width: 100%" onclick="findReachID()">Find A Reach ID</a>
    <li class="separator"></li>
    <a class="btn btn-outline-secondary" role="button" style="width: 100%" onclick="findLatLon()">Zoom to Lat/Lon Coordinates</a>
    <li class="separator"></li>
    <a class="btn btn-outline-secondary" role="button" style="width: 100%"
       onclick="if (mapMarker) {mapObj.removeLayer(mapMarker)}">Remove Map Marker</a>
    <li class="separator"></li>
    {% if request.path == hydroviewer %}
      <a href="{{ hydroshare }}" class="btn btn-outline-secondary" role="button" style="width: 100%">Switch to HydroShare Map</a>
    {% else %}
      <a href="{{ hydroviewer }}" class="btn btn-outline-secondary" role="button" style="width: 100%">Switch to ESRI Map</a>
    {% endif %}
    <li class="separator"></li>
    {% gizmo select_input gauge_networks %}
  {% else %}
    <li class="title">Hydroviewer Creation Tools</li>
    <li class="nav-item"><a class="nav-link{% if request.path == creator %} active{% endif %}" href="{{ creator }}">Project Selection</a></li>
    <li class="nav-item"><a class="nav-link{% if request.path == overview %} active{% else %} disabled{% endif %}" >Project Overview</a></li>
    <li class="nav-item"><a class="nav-link{% if request.path == render %} active{% endif %}" href="{{ render }}">Render Hydroviewer</a></li>
  {% endif %}
{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3K5B8H0KHJ"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-3K5B8H0KHJ');
  </script>
{% endblock %}
