{% extends "geoglows_hydroviewer/base.html" %}
{% load tethys_gizmos %}
{% load static %}

{% block app_content %}
  <div style="padding: 12px">
    <h1>Project: {{ project_title }}</h1>
    <input type="text" style="display: none" id="project" value="{{ project }}">
    <form id="hydroshare-form" action="{% url 'geoglows_hydroviewer:export_hydroshare' %}" method="post">
      {% csrf_token %}
      <input class="form-group" type="text" name="project" style="display: none" value="{{ project }}">

      <h3>1. Log in to Hydroshare</h3>
      {% if is_authenticated %}
        <li><h4>You are already logged in to Hydroshare via your Tethys Portal Log in</h4></li>
      {% else %}
        <p>You are not logged in to Tethys using Hydroshare Credentials. If enabled on this portal, it is strongly
          recommended that you log out then log in again using the Hydroshare Oauth log in option. If it is not
          available, you may provide your hydroshare log in here. Only use this option if this tethys portal has
          enabled SSL (e.g. the url shows https instead of http) AND you trust the portal administrators.</p>
        <input class="form-group input" type="text" name="username" placeholder="Username" required>
        <input class="form-group input" type="password" name="password" placeholder="Password" required>
      {% endif %}
      <h3>2. Provide Metadata For The New Resource</h3>
      <p>Provide information describing these shapefiles which will get passed to HydroShare. This is the minimum
        information required to upload a resource and make it public. Add more information by visiting the page for
        this resource on HydroShare after completing the upload. Sample Values are provided for you.</p>
      <label for="title-input" class="control-label">Name/Title</label>
      <input id="title-input" class="form-control input" type="text" name="title"
             value="GEOGloWS ECMWF Streamflow Delineation Subset - {{ project }}">
      <label for="keywords-input" class="control-label">Keywords</label>
      <input id="keywords-input" class="form-control input" type="text" name="keywords"
             value="geoglows, ecmwf, hydrography, etc">
      <label for="abstract-input" class="control-label">Abstract</label>
      <input id="abstract-input" class="form-control input" type="text" name="abstract"
             value="DEM delineated catchments and drainage line shapefiles subset from the GEOGloWS ECMWF Streamflow Model">

      <h3>3.
        <button class="btn btn-success" role="button" form="hydroshare-form" submit="True">
          <span class="glyphicon glyphicon-plus-sign"></span> Create New HydroShare Resource
        </button>
      </h3>
    </form>
  </div>
{% endblock %}

{% block app_actions %}
  <form id="overview-form" action="{% url 'geoglows_hydroviewer:project_overview' %}" method="get">
    <input class="form-group" type="text" name="project" style="display: none" value="{{ project }}">
    <div class="btn-group ">
      <button class="btn btn-success" role="button" form="overview-form" submit="True">
        <span class="glyphicon glyphicon-home"></span> Return to Overview Without Uploading
      </button>
    </div>
  </form>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
  <link href="{% static 'geoglows_hydroviewer/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
      let URL_saveboundaries = "{% url 'geoglows_hydroviewer:save_boundaries' %}";
  </script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="{% static 'geoglows_hydroviewer/js/ajax_cookie_stuff.js' %}" type="text/javascript"></script>
{% endblock %}