{% extends "geoglows_hydroviewer/base.html" %}

{% block title %}GEOGloWS Hydroviewer{% endblock %}

{% load static %}
{% load staticfiles %}
{% load tethys_gizmos %}
{% block import_gizmos %}
    {% import_gizmo_dependency date_picker %}
{% endblock %}
{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="About Map Data">
    <a data-toggle="modal" data-target="#about_modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Upload CSV">
    <a data-toggle="modal" data-target="#csv_modal"><span class="glyphicon glyphicon-upload"></span></a>
  </div>
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="View Chart">
    <a data-toggle="modal" data-target="#chart_modal"><span class="glyphicon glyphicon-globe"></span></a>
  </div>
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_content %}
  <div id="map" class="map"></div>
{% endblock %}

{% block app_actions %}
  <a role="button" class="btn btn-default" data-toggle="modal" data-target="#about_modal">About the Map Data</a>
{% endblock %}

{% block after_app_content %}
  {# Chart Modals #}
  <div class="modal fade" id="chart_modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <div class="row">
            <h2 style="text-align: center">Streamflow Results <span id="request-status" class="load-status"/></h2>
          </div>
        </div>

        <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a id="forecast_tab_link" href="#forecast" role="tab"
                                                      data-toggle="tab">Forecasts</a></li>
            <li role="presentation"><a id="historical_tab_link" href="#historical" role="tab" data-toggle="tab"
                                       style="display: none">Historical</a></li>
            <li role="presentation"><a id="avg_flow_tab_link" href="#average_flows" role="tab" data-toggle="tab"
                                       style="display: none">Average Flows</a></li>
            <li role="presentation"><a id="flow_duration_tab_link" href="#flow_duration" role="tab" data-toggle="tab"
                                       style="display: none">Flow-Duration</a></li>
            <li role="presentation"><a id="bias_correction_tab_link" href="#bias_correction" role="tab"
                                       style="display: none" data-toggle="tab">Bias Correction</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="forecast">
              <div class="panel panel-default">
                <div id="forecast-date-selector">
                  <label for="forecast_date">Forecast Date: </label>
                  <input class="form-control" id="forecast_date" name="forecast_date" type="text">
                </div>
                <div id="forecast-chart"></div>
                <div id="forecast-table"></div>
              </div>
            </div> <!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="historical">
              <div class="panel panel-default">
                <div style="width: 70%; margin: auto; text-align: center; padding: 16px">
                  <a class="btn btn-success" role="button" style="width: 100%" id="get-historical-btn"
                     onclick="getHistoricalData()">Get Historical Data</a>
                </div>
                <div id="historical-chart" class="panel-body"></div>
                <div id="historical-table"></div>
              </div>
            </div><!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="average_flows">
              <div class="panel panel-default">
                <div id="daily-avg-chart" class="panel-body"></div>
                <div id="monthly-avg-chart" class="panel-body"></div>
              </div>
            </div><!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="flow_duration">
              <div class="panel panel-default">
                <div id='flowduration-chart' class="panel-body"></div>
              </div>
            </div><!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="bias_correction">
              <div class="panel panel-default">
                <div style="margin-left: auto; margin-right: auto; width: 80%">
                  <br>
                  <a class="btn btn-info" role="button" data-toggle="modal" data-target="#csv_modal"
                     style="width: 100%">Upload New Observation</a>
                  <hr>
                  <p>{% gizmo select_input uploaded_observations %}</p>
                  <a class="btn btn-success" role="button" id="bias-correction-btn" style="width: 100%"
                     onclick="getBiasCorrectedPlots(false)">Start Bias Correction</a>
                </div>
                <div id='volume_plot' class="panel-body"></div>
                <div id='scatters' class="panel-body"></div>
                <div id='stats_table' class="panel-body" style="margin-left: auto; margin-right: auto"></div>
              </div>
            </div><!-- /.tab-pane -->

          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-success" role="button" id="download-forecast-btn" target="_blank">Download Forecast</a>
          <a class="btn btn-success" role="button" id="download-historical-btn" target="_blank" style="display: none">Download
            Historical Data</a>
          <button type="button" class="btn btn-info" id="resize_charts" onclick="fix_chart_sizes('forecasts')">Resize
            the Chart
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="about_modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <div class="row">
            <h1 style="text-align: center">About Map Data</h1>
          </div>
        </div>

        <div class="modal-body">
          <h2 style="text-align: center">GEOGloWS ECMWF Streamflow Model Streams</h2>
          <p>
            The stream network visualization is made possible by a collaboration between ESRI, ECMWF, and BYU. The
            color and width of the lines which represent the stream segments are determined by the average of the
            ensemble streamflow prediction run by the hydrologic model. Wider lines means more flow and the coloring
            represents if the stream is experiencing a return period level event: blue = normal, yellow = exceeds 2
            year return period, red = exceeds 10 year return period, and purple = exceeds 20 year return period.
          </p>
          <h2 style="text-align: center">Gauge Networks</h2>
          <p>
            Like all models, the GEOGloWS ECMWF model needs to be calibrated. Calibration becomes increasingly
            difficult as a model increases in geographic extents, complexity, temporal range of simulation, and the
            frequency the model is executed. The difficulty increases because both the computation time and amount of
            required input and validation data increases. In the case of hydrologic models, sufficient streamflow
            observations often do not exist, are not shareable, or are too inaccurate or incomplete to be used.
            Researchers at BYU led by Jorge Luis Sanchez Lozano, Riley Hales, and Jim Nelson, are developing alternate
            methods to calibrate models on the fly using what observed data exist and various techniques rooted in
            spatial analysis, statistical reasoning, and machine learning. These gauge networks represent countries
            where observed discharge is available as a service and this research team has been performing case studies.
            Click on one of the reds dots (representing a gauged stream location) to retrieve the streamflow model
            results for that location after applying a calibration algorithm using the observed data.
          </p>
          <h2 style="text-align: center">VIIRS 5-Day Composite Imagery</h2>
          <p>VIIRS imagery is a web mapping service layer derived from optical observations from satellites.</p>
          <a href="https://www.star.nesdis.noaa.gov/jpss/images/Harvey/show/VIIRSFloodDetectionMapQuickGuide.pdf"
             target="_blank">VIIRS Flood Detection Map Quick Guide (PDF) (noaa.gov)</a><br>
          <a href="https://www.ssec.wisc.edu/flood-map-demo/"
             target="_blank">VIIRS Quick Start Guide/Flood Map Demo (wisc.edu)</a><br>
          <img src="{% static 'geoglows_hydroviewer/images/VIIRS_legend.png' %}" alt="legend"
               style="width: 80%; margin: auto">
          <ul>
            <li>MS: missing data (transparent)</li>
            <li>LD: clear-sky land (brown)</li>
            <li>SI: supra-snow/ice water or mixed ice & water (purple)</li>
            <li>SN: snow cover(white)</li>
            <li>IC: river/lake ice cover (cyan)</li>
            <li>CL: cloud cover (grey)</li>
            <li>CS: cloud shadow and terrain shadow (dark grey)</li>
            <li>WA: open water (blue)</li>
            <li>0-100: floodwater fractions (light cyan to red)</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="csv_modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h2 style="text-align: center">Upload Observational Data</h2>
        </div>

        <div class="modal-body">
          <!-- Tab panes -->
          <div role="tabpanel" class="tab-pane active" id="csv_upload_tab">
            <p>The uploaded CSV of observed streamflow MUST be formatted according to the following criteria:</p>
            <ol>
              <li>Your csv must contain exactly 2 columns</li>
              <li>The first row must contain the names for the columns (e.g. datetime and streamflow)</li>
              <li>The first column must contain the date and time (datetime) of the observation</li>
              <li>The date should be written in a format that can be recognized by a computer e.g. YYYYMMDD HH:MM</li>
              <li>The second column must contain the streamflow observations in cubic meters per second (cms)
                (m^3/s)
              </li>
              <li>There should be 1 value per day showing the day's average flow. If multiple measurements are
                specified per day, they will be averaged together.
              </li>
            </ol>
            <a href="{% static 'geoglows_hydroviewer/csvs/sample_observed_hydrograph.csv' %}" target="_blank">
              Click here to download a sample hydrograph formatted correctly</a>
            <hr>
            <form id="hydrograph-csv-form" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label class="control-label" for="hydrograph-csv-input">Upload Hydrograph CSV</label>
                <input type="file" id="hydrograph-csv-input" name="hydrograph-csv-input" accept="text/csv,.csv">
                <br>
                <input type="submit" value="Submit">
              </div>
            </form>
            <hr>
            <p><strong>Upload Status: </strong><span id="hydrograph-csv-status"></span></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
  <link rel="stylesheet" href="{% static 'geoglows_hydroviewer/css/main.css' %}">
{% endblock %}

{% block scripts %}
  {% url 'geoglows_hydroviewer:home' as hydroviewer %}
  {% url 'geoglows_hydroviewer:hydroshare_view' as hydroshare %}

  {{ block.super }}
  <script>
      let endpoint = "{{ endpoint }}";
      // URLS
      let URL_getAvailableDates = "{% url 'geoglows_hydroviewer:getAvailableDates' %}";
      let URL_getForecastData = "{% url 'geoglows_hydroviewer:getForecastData' %}";
      let URL_getHistoricalData = "{% url 'geoglows_hydroviewer:getHistoricalData' %}";
      let URL_getBiasAdjusted = "{% url 'geoglows_hydroviewer:getBiasAdjusted' %}";
      let URL_upload_new_observations = "{% url 'geoglows_hydroviewer:upload_new_observations' %}";
      let URL_get_gauge_geojson = "{% url 'geoglows_hydroviewer:get_gauge_geojson' %}";
      let URL_find_reach_id = "{% url 'geoglows_hydroviewer:find_reach_id' %}";
  </script>
  {# Leaflet #}
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"></script>
  {# Plotly #}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{% static 'geoglows_hydroviewer/js/geoglows_hydroviewer_core.js' %}"></script>
  {% if request.path == hydroshare %}
    <script src="{% static 'geoglows_hydroviewer/js/extensionWMFS.js' %}"></script>
    <script src="{% static 'geoglows_hydroviewer/js/geoglows_hydroviewer_hydroshare.js' %}"></script>
  {% else %}
    <script src="{% static 'geoglows_hydroviewer/js/geoglows_hydroviewer_esri.js' %}"></script>
  {% endif %}
{% endblock %}
