{% extends "hydroviewer_template/base.html" %}

{% load static %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="VIIRS">
    <a data-toggle="modal" data-target="#viirs_modal"><span class="glyphicon glyphicon-picture"></span></a>
  </div>
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Upload CSV">
    <a data-toggle="modal" data-target="#csv_modal"><span class="glyphicon glyphicon-upload"></span></a>
  </div>
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="View Chart">
    <a data-toggle="modal" data-target="#chart_modal"><span class="glyphicon glyphicon-globe"></span></a>
  </div>
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }} for {{ branded_name }}{% endblock %}

{% block app_navigation_items %}
  <li class="title">App controls</li>
  <input id="search_reachid_input" placeholder="Search for a Reach ID" style="width: 100%" class="input">
  <a class="btn btn-default" role="button" style="width: 100%" onclick="findReachID()">Find A Reach ID</a>

  <li class="separator"></li>
  <input id="search_latlon_input" placeholder="Enter 'latitude, longitude'" style="width: 100%" class="input">
  <a class="btn btn-default" role="button" style="width: 100%" onclick="findLatLon()">Find A Lat/Lon Location</a>

  <li class="separator"></li>
  <a class="btn btn-default" role="button" data-toggle="modal" data-target="#viirs_modal" style="width: 100%">About
    VIIRS Imagery</a>

  <li class="title">Bias Correction</li>
{#  {% gizmo select_input uploaded_observations %}#}
{#  <a class="btn btn-default" role="button" data-toggle="modal" data-target="#csv_modal" style="width: 100%">Upload New#}
{#    Observation</a>#}
  {% gizmo select_input gauge_networks %}

{% endblock %}

{% block app_content %}
  <div id="map" class="map"></div>
{% endblock %}

{% block after_app_content %}
  {# Chart Modal #}
  <div class="modal fade" id="chart_modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <div class="row">
            <h2 style="text-align: center">Streamflow Results <span id="request-status" class="load-status"/></h2>
          </div>
        </div>

        <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a id="forecast_tab_link" href="#forecast" role="tab"
                                                      data-toggle="tab">Forecasts</a></li>
            <li role="presentation"><a id="historical_tab_link" href="#historical" role="tab" data-toggle="tab">Historical</a>
            </li>
            <li role="presentation"><a id="avg_flow_tab_link" href="#average_flows" role="tab" data-toggle="tab">Average
              Flows</a></li>
            <li role="presentation"><a id="flow_duration_tab_link" href="#flow_duration" role="tab" data-toggle="tab">Flow-Duration</a>
            </li>
            <li role="presentation"><a id="bias_correction_tab_link" href="#bias_correction" role="tab"
                                       data-toggle="tab" style="display: none">Bias Correction</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="forecast">
              <div class="panel panel-default">
                <div id="forecast-chart"></div>
                <div id="corrected-forecast-chart"></div>
                <div id="forecast-table"></div>
              </div>
            </div> <!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="historical">
              <div class="panel panel-default">
                <div id="historical-5">
                  <div id="historical-chart" class="panel-body"></div>
                  <div id="historical-table"></div>
                </div>
              </div>
            </div><!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="average_flows">
              <div class="panel panel-default">
                <div id="daily-avg-chart" class="panel-body"></div>
                <div id="monthly-avg-chart" class="panel-body"></div>
              </div>
            </div><!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="flow_duration">
              <div class="panel panel-default">
                <div id='flowduration-chart' class="panel-body"></div>
              </div>
            </div><!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="bias_correction">
              <div class="panel panel-default">
                <div id='volume_plot' class="panel-body"></div>
                <div id='scatters' class="panel-body"></div>
                <div id='stats_table' class="panel-body" style="text-align: center"></div>
              </div>
            </div><!-- /.tab-pane -->

          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-success" role="button" id="download-forecast-btn" target="_blank">Download Forecast</a>
          <a class="btn btn-success" role="button" id="download-records-btn" target="_blank" style="display: none">Download
            Previous Forecasts</a>
          <a class="btn btn-success" role="button" id="download-historical-btn" target="_blank" style="display: none">Download
            Historical Data</a>
          <a class="btn btn-success" role="button" id="download-seasonal-btn" target="_blank" style="display: none">Download
            Daily Average</a>
          <a class="btn btn-danger" role="button" id="start-bias-correction-btn" target="_blank" style="display: none"
             onclick="getBiasCorrectedPlots(false)">Start Bias Correction</a>
          <button type="button" class="btn btn-info" id="resize_charts" onclick="fix_chart_sizes('forecasts')">Resize
            the Chart
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="viirs_modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span>
          </button>
        </div>
        <h1 style="text-align: center">VIIRS 5-Day Composite Imagery</h1>
        <div class="modal-body">
          <img src="{% static 'hydroviewer_template/images/VIIRS_legend.png' %}" alt="legend" style="width: 100%">
          <ul>
            <li>MS: missing data (transparent)</li>
            <li>LD: clear-sky land (brown)</li>
            <li>SI: supra-snow/ice water or mixed ice & water (purple)</li>
            <li>SN: snow cover(white)</li>
            <li>IC: river/lake ice cover (cyan)</li>
            <li>CL: cloud cover (grey)</li>
            <li>CS: cloud shadow and terrain shadow (dark grey)</li>
            <li>WA: open water (blue)</li>
            <li>0-100: floodwater fractions (light cyan to red)</li>
          </ul>
          <a href="https://www.star.nesdis.noaa.gov/jpss/images/Harvey/show/VIIRSFloodDetectionMapQuickGuide.pdf"
             target="_blank">VIIRS Flood Detection Map Quick Guide (PDF) (noaa.gov)</a><br>
          <a href="https://www.ssec.wisc.edu/flood-map-demo/"
             target="_blank">VIIRS Quick Start Guide/Flood Map Demo (wisc.edu)</a>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="csv_modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <div class="row"><h2 style="text-align: center">Upload Observational Data</h2></div>
        </div>

        <div class="modal-body">
          <strong>Uploaded CSV files are available for a maximum of 24 hours after you upload them.</strong>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a id="csv_upload_link" href="#csv_upload_tab" role="tab"
                                                      data-toggle="tab">Upload CSV</a></li>
            <li role="presentation"><a id="records_tab_link" href="#hydroshare_resource_tab" role="tab"
                                       data-toggle="tab">Hydroshare</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="csv_upload_tab">
              <div class="panel panel-default">
                <p>Requirements for uploaded csv files:</p>
                <ol>
                  <li>Your csv file must contain exactly 2 columns</li>
                  <li>The first row must contain the names for the columns (e.g. datetime and streamflow)</li>
                  <li>The first column must contain the date and time (datetime) of the observation</li>
                  <li>The second column must contain the streamflow observations in cubic meters per second (cms)
                    (m^3/s)
                  </li>
                </ol>
              </div>
            </div> <!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane active" id="hydroshare_resource_tab">
              <div class="panel panel-default">
              </div>
            </div> <!-- /.tab-pane -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
  <link rel="stylesheet" href="{% static 'hydroviewer_template/css/main.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
      let geoserver_url = "{{ gs_url }}";
      let app_url = "{{ app_url }}"
      let endpoint = "{{ endpoint }}";
      {# layer custom settings #}
      let boundary_layer = "{{ boundary_layer }}";
      let catchment_layer = "{{ catchment_layer }}";
      let drainage_layer = "{{ drainage_layer }}";
  </script>
  {# Leaflet #}
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"></script>
  {# Plotly #}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="{% static 'hydroviewer_template/js/main.js' %}"></script>
{% endblock %}
